<!-- Form <%= singular_table_name %> start -->
<form action="/create_<%= singular_table_name %>"<% unless skip_post? -%> method="post"<% end -%>>
<!-- Form <%= singular_table_name %> end -->

<% attributes.each do |attribute| -%>
  <!-- Label and input for <%= attribute.column_name %> start -->
<% if attribute.field_type == :check_box -%>
  <div class="form-group">
    <label for="<%= attribute.column_name %>">
      <%= attribute.column_name.humanize %>
    </label>
    <!-- Input for <%= attribute.column_name %> start -->
    <input id="<%= attribute.column_name %>" class="form-check-input" name="<%= attribute.column_name %>" type="checkbox" <% unless skip_validation_alerts? -%><%%= "checked" if @<%= singular_table_name %>.try(:<%= attribute.column_name %>) %><% end -%>>
    <!-- Input for <%= attribute.column_name %> end -->
  </div>
<% else -%>
  <div class="form-group">
    <label for="<%= attribute.column_name %>">
      <%= attribute.column_name.humanize %>
    </label>

<% if attribute.field_type == :text_area -%>
    <!-- Input for <%= attribute.column_name %> start -->
    <textarea id="<%= attribute.column_name %>" name="<%= attribute.column_name %>" class="form-control" rows="3"><% unless skip_validation_alerts? -%><%%= @<%= singular_table_name %>.try(:<%= attribute.column_name %>) %><% end -%></textarea>
    <!-- Input for <%= attribute.column_name %> end -->
<% else -%>
    <!-- Input for <%= attribute.column_name %> start -->
    <input type="text" id="<%= attribute.column_name %>" name="<%= attribute.column_name %>" class="form-control"<% unless skip_validation_alerts? -%> value="<%%= @<%= singular_table_name %>.try(:<%= attribute.column_name %>) %>"<% end -%>>
    <!-- Input for <%= attribute.column_name %> end -->
<% end -%>
  </div>
  <!-- Label and input for <%= attribute.column_name %> end -->
<% end -%>

<% end -%>
  <button class="btn btn-block btn-outline-secondary">
    Create <%= singular_table_name.humanize.downcase %>
  </button>
</form>
