<% unless skip_validation_alerts? -%>
<!-- Validation failure messages -->
<%% if @<%= singular_table_name %>.errors.any? %>
  <%% @<%= singular_table_name %>.errors.full_messages.each do |message| %>
    <div class="alert">
      <%%= message %>
    </div>
  <%% end %>
<%% end %>

<% end -%>
<h1>
  Edit <%= singular_table_name.humanize.downcase %> #<%%= @<%= singular_table_name %>.id %>
</h1>

<hr>

<!-- Form <%= singular_table_name %> start -->
<form action="/update_<%= singular_table_name %>/<%%= @<%= singular_table_name %>.id %>"<% unless skip_post? -%> method="post"<% end -%>>
<!-- Form <%= singular_table_name %> end -->

<% attributes.each do |attribute| -%>
  <!-- Label and input for <%= attribute.column_name %> -->
<% if attribute.field_type == :check_box -%>
  <div class="form-check">
    <input type="hidden" value="0" name="<%= attribute.column_name %>">
    <!-- Input for <%= attribute.column_name %> start -->
    <input id="<%= attribute.column_name %>" class="form-check-input" name="<%= attribute.column_name %>" type="checkbox" value="1" <%%= "checked" if @<%= singular_table_name %>.<%= attribute.column_name %> %>>
    <!-- Input for <%= attribute.column_name %> end -->
    <label for="<%= attribute.column_name %>" class="form-check-label">
      <%= attribute.column_name.humanize %>
    </label>
  </div>
<% else -%>
  <div class="form-group">
    <label for="<%= attribute.column_name %>">
      <%= attribute.column_name.humanize %>
    </label>

<% if attribute.field_type == :text_area -%>
    <!-- Input for <%= attribute.column_name %> start -->
    <textarea id="<%= attribute.column_name %>" name="<%= attribute.column_name %>" class="form-control" rows="3"><%%= @<%= singular_table_name %>.<%= attribute.column_name %> %></textarea>
    <!-- Input for <%= attribute.column_name %> end -->
<% else -%>
    <!-- Input for <%= attribute.column_name %> start -->
    <input type="text" id="<%= attribute.column_name %>" name="<%= attribute.column_name %>" class="form-control" value="<%%= @<%= singular_table_name %>.<%= attribute.column_name %> %>">
    <!-- Input for <%= attribute.column_name %> end -->
<% end -%>
  </div>
<% end -%>

<% end -%>
  <button class="btn btn-block btn-outline-secondary">
    Update <%= singular_table_name.humanize.downcase %>
  </button>
</form>

<hr>

<a href="/<%= plural_table_name %>">
  Go back
</a>
