<% unless skip_validation_alerts? -%>
<% if with_sentinels? -%>
<!-- Validation failure messages -->
<% end -%>
<%% if @<%= singular_table_name %>.errors.any? %>
  <%% @<%= singular_table_name %>.errors.full_messages.each do |message| %>
    <div>
      <%%= message %>
    </div>
  <%% end %>
<%% end %>

<% end -%>
<h1>
  Edit <%= singular_table_name.humanize.downcase %> #<%%= @<%= singular_table_name %>.id %>
</h1>

<hr>

<% if with_sentinels? -%>
<!-- Form <%= singular_table_name %> start -->
<% end -%>
<form action="/update_<%= singular_table_name %>/<%%= @<%= singular_table_name %>.id %>"<% unless skip_post? -%> method="post"<% end -%>>
<% if with_sentinels? -%>
<!-- Form <%= singular_table_name %> end -->
<% end -%>

<% attributes.each do |attribute| -%>
<% if with_sentinels? -%>
  <!-- Label and input for <%= attribute.column_name %> start -->
<% end -%>
<% if attribute.field_type == :check_box -%>
  <div>
    <input type="hidden" value="0" name="<%= attribute.column_name %>">
<% if with_sentinels? -%>
    <!-- Input for <%= attribute.column_name %> start -->
<% end -%>
    <input id="<%= attribute.column_name %>" name="<%= attribute.column_name %>" type="checkbox" value="1" <%%= "checked" if @<%= singular_table_name %>.<%= attribute.column_name %> %>>
<% if with_sentinels? -%>
    <!-- Input for <%= attribute.column_name %> end -->
<% end -%>
    <label for="<%= attribute.column_name %>">
      <%= attribute.column_name.humanize %>
    </label>
  </div>
<% else -%>
  <div>
    <label for="<%= attribute.column_name %>">
      <%= attribute.column_name.humanize %>
    </label>

<% if attribute.field_type == :text_area -%>
<% if with_sentinels? -%>
    <!-- Input for <%= attribute.column_name %> start -->
<% end -%>
    <textarea id="<%= attribute.column_name %>" name="<%= attribute.column_name %>" rows="3"><%%= @<%= singular_table_name %>.<%= attribute.column_name %> %></textarea>
<% if with_sentinels? -%>
    <!-- Input for <%= attribute.column_name %> end -->
<% end -%>
<% else -%>
<% if with_sentinels? -%>
    <!-- Input for <%= attribute.column_name %> start -->
<% end -%>
    <input type="text" id="<%= attribute.column_name %>" name="<%= attribute.column_name %>" value="<%%= @<%= singular_table_name %>.<%= attribute.column_name %> %>">
<% if with_sentinels? -%>
    <!-- Input for <%= attribute.column_name %> end -->
<% end -%>
<% end -%>
  </div>
<% if with_sentinels? -%>
  <!-- Label and input for <%= attribute.column_name %> end -->
<% end -%>
<% end -%>

<% end -%>
  <button>
    Update <%= singular_table_name.humanize.downcase %>
  </button>
</form>

<hr>

<a href="/<%= plural_table_name %>">
  Go back
</a>
