<% total_bugs = rand(3) -%>
<% max_index_form_bugs = 0 -%>
<h1>
  All <%= plural_table_name.humanize.downcase %>
</h1>

<a href="/<%= plural_table_name %>/new">
  Add a new <%= singular_table_name.humanize.downcase %>
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

<% attributes.each do |attribute| -%>
    <th>
      <%= attribute.human_name %>
    </th>

<% end -%>
    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>
<% if buggy? && max_index_form_bugs < total_bugs && create_bug?(likelihood: :high) -%>
  <%% <%= plural_table_name %>.each do |<%= singular_table_name %>| %>
<% else -%>
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
<% end -%>
  <tr>
    <td>
<% if buggy? && max_index_form_bugs < total_bugs && create_bug?(likelihood: :high) -%>
      <%%= @<%= singular_table_name %>.id %>
<% else -%>
      <%%= <%= singular_table_name %>.id %>
<% end -%>
    </td>

<% attributes.each do |attribute| -%>
    <td>
<% if buggy? && max_index_form_bugs < total_bugs && create_bug?(likelihood: :high) -%>
      <%%= @<%= singular_table_name %>.<%= attribute.column_name %> %>
<% else -%>
      <%%= <%= singular_table_name %>.<%= attribute.column_name %> %>
<% end -%>
    </td>

<% end -%>
    <td>
      <%%= time_ago_in_words(<%= singular_table_name %>.created_at) %> ago
    </td>

    <td>
      <%%= time_ago_in_words(<%= singular_table_name %>.updated_at) %> ago
    </td>

    <td>
      <a href="/<%= plural_table_name %>/<%%= <%= singular_table_name %>.id %>">
        Show details
      </a>
    </td>
  </tr>
  <%% end %>
</table>
<% if buggy? -%>
  <% puts "#{max_index_form_bugs} index page bugs created" -%>
<% end -%>
