<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All <%= plural_table_name.humanize.downcase %>
    </h1>

    <a href="/<%= plural_table_name %>/new" class="btn btn-block btn-outline-secondary">
      Add a new <%= singular_table_name.humanize.downcase %>
    </a>
  </div>
</div>

<% if with_sentinels? -%>
<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->
<% end -%>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

<% attributes.each do |attribute| -%>
        <th>
          <%= attribute.human_name %>
        </th>

<% end -%>
        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% if with_sentinels? -%>
        <!-- Display <%= singular_table_name %>.id start -->
<% end -%>
        <td>
          <%%= <%= singular_table_name %>.id %>
        </td>
<% if with_sentinels? -%>
        <!-- Display <%= singular_table_name %>.id end -->
<% end -%>

<% attributes.each do |attribute| -%>
<% if with_sentinels? -%>
        <!-- Display <%= singular_table_name %>.<%= attribute.column_name %> start -->
<% end -%>
        <td>
          <%%= <%= singular_table_name %>.<%= attribute.column_name %> %>
        </td>
<% if with_sentinels? -%>
        <!-- Display <%= singular_table_name %>.<%= attribute.column_name %> end -->
<% end -%>

<% end -%>
<% if with_sentinels? -%>
        <!-- Display <%= singular_table_name %>.created_at start -->
<% end -%>
        <td>
          <%%= time_ago_in_words(<%= singular_table_name %>.created_at) %> ago
        </td>
<% if with_sentinels? -%>
        <!-- Display <%= singular_table_name %>.created_at end -->

        <!-- Display <%= singular_table_name %>.updated_at start -->
<% end -%>
        <td>
          <%%= time_ago_in_words(<%= singular_table_name %>.updated_at) %> ago
        </td>
<% if with_sentinels? -%>
        <!-- Display <%= singular_table_name %>.updated_at end -->
<% end -%>

        <td>
          <a href="/<%= plural_table_name %>/<%%= <%= singular_table_name %>.id %>">
            Show details
          </a>
        </td>
      </tr>
      <%% end %>
    </table>
  </div>
</div>
