<% unless skip_validation_alerts? -%>
<!-- Validation failure messages -->
<%% if @<%= singular_table_name %>.present? %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <%% @<%= singular_table_name %>.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%%= message %>
      </div>
    <%% end %>
  <%% end %>
<%% end %>

<% end -%>
<h1>
  Add a new <%= singular_table_name.humanize.downcase %>
</h1>

<hr>

<!-- Form <%= singular_table_name %> start -->
<form action="/create_<%= singular_table_name %>"<% unless skip_post? -%> method="post"<% end -%>>
<!-- Form <%= singular_table_name %> end -->

<% attributes.each do |attribute| -%>
  <!-- Label and input for <%= attribute.column_name %> -->
<% if attribute.field_type == :check_box -%>
  <div class="form-check">
    <input type="hidden" value="0" name="<%= attribute.column_name %>">
    <!-- Input for <%= attribute.column_name %> start -->
    <input id="<%= attribute.column_name %>" class="form-check-input" name="<%= attribute.column_name %>" type="checkbox" <% unless skip_validation_alerts? -%><%%= "checked" if @<%= singular_table_name %>.<%= attribute.column_name %> %><% end -%>>
    <!-- Input for <%= attribute.column_name %> end -->
    <label for="<%= attribute.column_name %>" class="form-check-label">
      <%= attribute.column_name.humanize %>
    </label>
  </div>
<% else -%>
  <div class="form-group">
    <label for="<%= attribute.column_name %>">
      <%= attribute.column_name.humanize %>
    </label>

<% if attribute.field_type == :text_area -%>
    <!-- Input for <%= attribute.column_name %> start -->
    <textarea id="<%= attribute.column_name %>" name="<%= attribute.column_name %>" class="form-control" rows="3"><% unless skip_validation_alerts? -%><%%= @<%= singular_table_name %>.try(:<%= attribute.column_name %>) %><% end -%></textarea>
    <!-- Input for <%= attribute.column_name %> end -->
<% else -%>
    <!-- Input for <%= attribute.column_name %> start -->
    <input type="text" id="<%= attribute.column_name %>" name="<%= attribute.column_name %>" class="form-control"<% unless skip_validation_alerts? -%> value="<%%= @<%= singular_table_name %>.try(:<%= attribute.column_name %>) %>"<% end -%>>
    <!-- Input for <%= attribute.column_name %> end -->
<% end -%>
  </div>
<% end -%>

<% end -%>
  <button class="btn btn-block btn-outline-secondary">
    Create <%= singular_table_name.humanize.downcase %>
  </button>
</form>

<hr>

<a href="/<%= plural_table_name %>">
  Go back
</a>
