<h1>
  Add a new <%= singular_table_name.humanize.downcase %>
</h1>

<hr>

<form action="/create_<%= singular_table_name %>"<% unless skip_post? -%> method="post"<% end -%>>
<% attributes.each do |attribute| -%>
  <!-- Label and input for <%= attribute.column_name %> -->
<% if attribute.field_type == :check_box -%>
  <div class="form-check">
    <input id="<%= attribute.column_name %>" class="form-check-input" name="<%= attribute.column_name %>" type="checkbox" <% unless skip_validation_alerts? -%><%%= "checked" if @<%= singular_table_name %>.<%= attribute.column_name %> %><% end -%>>

    <label for="<%= attribute.column_name %>" class="form-check-label">
      <%= attribute.column_name.humanize %>
    </label>
  </div>
<% else -%>
  <div class="form-group">
    <label for="<%= attribute.column_name %>">
      <%= attribute.column_name.humanize %>
    </label>

<% if attribute.field_type == :text_area -%>
    <textarea id="<%= attribute.column_name %>" name="<%= attribute.column_name %>_from_form" class="form-control" rows="3"></textarea>
<% else -%>
    <input type="text" id="<%= attribute.column_name %>" name="<%= attribute.column_name %>_from_form" class="form-control">
<% end -%>
  </div>
<% end -%>

<% end -%>
  <button class="btn btn-block btn-outline-secondary">
    Create <%= singular_table_name.humanize.downcase %>
  </button>
</form>

<hr>

<a href="/<%= plural_table_name %>">
  Go back
</a>
