<h1>
  Add a new <%= singular_table_name.humanize.downcase %>
</h1>


<hr>

<% if with_sentinels? -%>
<!-- Form <%= singular_table_name %> start -->
<% end -%>
<form action="/create_<%= singular_table_name %>"<% unless skip_post? -%> method="post"<% end -%>>
<% if with_sentinels? -%>
<!-- Form <%= singular_table_name %> end -->
<% end -%>

<% attributes.each do |attribute| -%>
<% if with_sentinels? -%>
  <!-- Label and input for <%= attribute.column_name %> start -->
<% end -%>
<% if attribute.field_type == :check_box -%>
  <div>
    <input type="hidden" value="0" name="<%= attribute.column_name %>">
<% if with_sentinels? -%>
    <!-- Input for <%= attribute.column_name %> start -->
<% end -%>
    <input id="<%= attribute.column_name %>" name="<%= attribute.column_name %>" type="checkbox">
<% if with_sentinels? -%>
    <!-- Input for <%= attribute.column_name %> end -->
<% end -%>
    <label for="<%= attribute.column_name %>">
      <%= attribute.column_name.humanize %>
    </label>
  </div>
<% else -%>
  <div>
    <label for="<%= attribute.column_name %>">
      <%= attribute.column_name.humanize %>
    </label>

<% if attribute.field_type == :text_area -%>
<% if with_sentinels? -%>
    <!-- Input for <%= attribute.column_name %> start -->
<% end -%>
    <textarea id="<%= attribute.column_name %>" name="<%= attribute.column_name %>" rows="3"></textarea>
<% if with_sentinels? -%>
    <!-- Input for <%= attribute.column_name %> end -->
<% end -%>
<% else -%>
<% if with_sentinels? -%>
    <!-- Input for <%= attribute.column_name %> start -->
<% end -%>
    <input type="text" id="<%= attribute.column_name %>" name="<%= attribute.column_name %>">
<% if with_sentinels? -%>
    <!-- Input for <%= attribute.column_name %> end -->
<% end -%>
<% end -%>
  </div>
<% if with_sentinels? -%>
  <!-- Label and input for <%= attribute.column_name %> end -->
<% end -%>
<% end -%>

<% end -%>
  <button>
    Create <%= singular_table_name.humanize.downcase %>
  </button>
</form>

<hr>

<a href="/<%= plural_table_name %>">
  Go back
</a>
