<h1>
  <%= singular_table_name.humanize %> #<%%= @<%= singular_table_name %>_to_show.id %> details
</h1>

<a href="/<%= plural_table_name %>/<%%= @<%= singular_table_name %>_to_show.id %>/edit">
  Edit <%= singular_table_name.humanize.downcase %>
</a>

<hr>

<dl>
<% attributes.each do |attribute| -%>
  <dt>
    <%= attribute.human_name %>
  </dt>
  <dd>
    <%%= @<%= singular_table_name %>_to_show.<%= attribute.column_name %> %>
  </dd>

<% end -%>
  <dt>
    Created at
  </dt>
  <dd>
    <%%= time_ago_in_words(@<%= singular_table_name %>_to_show.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%%= time_ago_in_words(@<%= singular_table_name %>_to_show.updated_at) %> ago
  </dd>
</dl>

<% unless read_only? -%>
<a href="/delete_<%= singular_table_name %>/<%%= @<%= singular_table_name %>_to_show.id %>" class="btn btn-default">
  Delete <%= singular_table_name.humanize.downcase %>
</a>
<% end -%>

<hr>

<a href="/<%= plural_table_name %>">
  Go back
</a>
