<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= singular_table_name.humanize %> #<%%= @<%= singular_table_name %>.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/<%= plural_table_name %>" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

<% if with_sentinels? -%>
      <!-- Edit link <%= singular_table_name %> start -->
<% end -%>
      <div class="col">
        <a href="/<%= plural_table_name %>/<%%= @<%= singular_table_name %>.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit <%= singular_table_name.humanize.downcase %>
        </a>
      </div>
<% if with_sentinels? -%>
      <!-- Edit link <%= singular_table_name %> end -->
<% end -%>

<% unless read_only? -%>
<% if with_sentinels? -%>
      <!-- Delete link <%= singular_table_name %> start -->
<% end -%>
      <div class="col">
        <a href="/delete_<%= singular_table_name %>/<%%= @<%= singular_table_name %>.id %>" class="btn btn-block btn-outline-secondary">
          Delete <%= singular_table_name.humanize.downcase %>
        </a>
      </div>
<% if with_sentinels? -%>
      <!-- Delete link <%= singular_table_name %> end -->
<% end -%>
<% end -%>
    </div>

    <dl>
<% attributes.each do |attribute| -%>
      <dt>
        <%= attribute.human_name %>
      </dt>
<% if with_sentinels? -%>
      <!-- Display <%= attribute.column_name %> start -->
<% end -%>
      <dd>
        <%%= @<%= singular_table_name %>.<%= attribute.column_name %> %>
      </dd>
<% if with_sentinels? -%>
      <!-- Display <%= attribute.column_name %> end -->
<% end -%>

<% end -%>
      <dt>
        Created at
      </dt>
<% if with_sentinels? -%>
      <!-- Display created_at start -->
<% end -%>
      <dd>
        <%%= time_ago_in_words(@<%= singular_table_name %>.created_at) %> ago
      </dd>
<% if with_sentinels? -%>
      <!-- Display created_at end -->
<% end -%>

      <dt>
        Updated at
      </dt>
<% if with_sentinels? -%>
      <!-- Display updated_at start -->
<% end -%>
      <dd>
        <%%= time_ago_in_words(@<%= singular_table_name %>.updated_at) %> ago
      </dd>
<% if with_sentinels? -%>
      <!-- Display updated_at end -->
<% end -%>
    </dl>
  </div>
</div>

<% if with_sentinels? -%>
<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
<% end -%>
