<div class="card mb-3">
  <h2 class="card-header h4">
    <%= singular_table_name.titlecase %> #<%%= <%= singular_table_name %>.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <dt><%= attribute.human_name %></dt>
      <dd><%%= <%= singular_table_name %>.<%= attribute.name %> %></dd>

<% end -%>
    </dl>

    <div class="row">
      <div class="col">
        <%%= link_to_show_or_back <%= singular_table_name %>, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%%= link_to edit_<%= singular_table_name %>_url(<%= singular_table_name %>), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <%% end %>
      </div>

      <div class="col">
        <%%= link_to <%= singular_table_name %>, method: :delete, data: { confirm: "Do you really want to delete this <%= singular_table_name %>?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <%% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%%= time_ago_in_words(<%= singular_table_name %>.updated_at) %> ago
  </div>
</div>
